body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#calculatorForm {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    background-color: beige;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    margin-bottom: 15px;
}

h2 {
    margin-top: 20px;
}

p {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
